.navtitle {
  padding-left:10px !important;
  font-family: 'Lora', serif;
}

.clip-circle {
  width: 56px;
  margin: 3px;
  -webkit-clip-path: circle(28px at center);
  clip-path: circle(28px at center);
}
/*
.backimg {
  -webkit-filter: blur(3px);
	filter: blur(20px);
}

.fullimg {
  -webkit-filter: blur(3px);
	filter: blur(20px);
}*/
